@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span class="fw-bolder text-primary">Hello, @context.User.Identity?.Name!</span>
    </Authorized>
    <NotAuthorized>
        <span class="fw-bolder text-primary">Hello, Anonymous!</span>
    </NotAuthorized>
</AuthorizeView>

@code
{}